* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}


body {
    background-image: url(assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

/* Barra de navegación */

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}


.menu-toggle {
    display: none;   /* el menu hamburguesa esta oculto en escritorio */
    margin-left: auto;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}


.top-bar {
    background-color: #2E3976;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-radius: 0 0 20px 20px;
}



.logo {
    width: 150px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px; 
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}


nav ul li:not(:last-child)::after {
    content: "✦"; 
    color: white;
    margin-left: 30px;
    font-size: 12px;
}

nav ul li a {
    color: white;
    text-decoration: none; 
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

main {
    padding: 20px;
}

     /* version movil */

@media (max-width: 768px) {

    .menu-toggle {
        display: block;  /* activo el menu hamburguesa solo en movil*/
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 20px;
        background-color: #2E3976;
        width: 100%;
        padding: 20px 0;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li:not(:last-child)::after {
        display: none;
    }
}



/*banner*/

.banner-container {
    background: linear-gradient(to right, 
        #9FB0F9 0%, 
        rgba(39, 65, 184, 0.10)
    );
    display: flex;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    max-width: 1350px;
    min-height: 500px;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-img {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}


.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.banner-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 20px 0 20px;
    flex: 1;
    min-width: 300px;
    color: white;
}

#banner h1 {
    font-family: 'Alexandria', sans-serif;
    color: white;
    font-weight: 700;
    font-size: clamp(1.8rem, 5vw, 4rem);
    margin-bottom: 2px;
}

#banner p {
    font-family: 'Lexend', sans-serif;
    font-weight: 500; /* MEDIUM */
    font-size: clamp(1rem, 2vw, 1.4rem);
    color: white;
    margin-top: 0;
    line-height: 1.4;
}

    /* Version movil */
@media (max-width: 768px) {
    .banner-container {
        flex-direction: column;
        padding: 0px;
        min-height: auto;
    }

    .banner-container img {
        width: 100%;
        height: 300px; 
        border-radius: 5% 5% 0 0;
    }

    .banner-text {
        padding: 20px;
        width: 100%;
    }
}



/* seccion 2 y 3 */

.content-row {
    display: flex;
    gap: 3rem;
    width: 100%;
    max-width: 1350px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 25px;
    box-sizing: border-box;
}


/*seccion 2*/

.icon-card {
    width: 90px;
    height: auto;
    max-width: 80px;
    align-items: center;
}

.card-container {
    flex: 2; 
    display: flex;
    gap: 2rem;
}


.card {
    flex: 1 1 250px; 
    max-width: 100%;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.25s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(50, 45, 110, 0.25);
}

.titulo-card {
    font-family: 'Alexandria', sans-serif;
    color:#2E3976;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.texto-card {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #2E3976;
    line-height: 1.5;
    text-align: left;
}


/*seccion 3*/

.search-container {
    flex: 1;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}


.search-container h3 {
    font-family: 'Alexandria', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #2E3976;
    margin: 0;
}

.search-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 40px;
    background: linear-gradient(90deg, #8FA2F5, #6D84E8);
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
    width: 100%;
}

.search-item span {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    font-weight: 500;
}


.search-item img {
    width: 18px;
    height: 18px;
}


.search-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(50, 45, 110, 0.25);
}


.search-item:last-child {
    background: linear-gradient(90deg, #4C5FD7, #2E3976);
}

@media (max-width: 1100px) {

    .content-row {
        flex-direction: column;
    }

    .card-container {
        flex-direction: column;
    }

    .search-container {
        width: 100%;
        margin-top: 30px;
    }
}



